#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  width: 1224px;
  margin: 20px auto 0;
}

#gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;

  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: 0.3s;
  cursor: pointer;

  border: 5px solid white;
  box-sizing: border-box;
}

#gallery img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

#gallery img:active {
  transform: scale(1);
}
